
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Gigster</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Categories/Index">Catégories</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Administrateur")){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/Index">Administration</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenue, @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                <button type="submit" class="btn btn-link nav-link">Déconnexion</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Inscription</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>