@page
@using GigsterTP1.Pages
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="mt-5">Bienvenue chez Gigster</h1>
    <h2 class ="mt-3">@Model.Message</h2>
</div>
