@page
@using GigsterTP1.Pages
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="container">

    <div class="row align-items-center mt-5">
        <div class="col-lg-7">
            <h1 class="display-3 fw-bold text-primary">Gigster</h1>
            <h2 class="mt-3 text-secondary">@Model.Message</h2>
        </div>

        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body">
                    <h3 class="card-title fw-bold fs-2 couleurtexteaccueil">Trouver un service</h3>
                    <form>
                        <div class="mb-3">
                            <label for="categorie" class="form-label">Catégorie</label>
                            <select asp-for="Categoriee" asp-items="Model.Categorie" class="form-control" id="categorie">
                                <option>Sélectionner une catégorie</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="codePostal" class="form-label">Code postal</label>
                            <input type="text" class="form-control" id="codePostal" placeholder="Entrez votre code postal">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
