@page
@model GigsterTP1.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Catégories";
}

<h1 class="mb-3">Catégories</h1>

<div class="row">
    @foreach (var categorie in Model.Categories)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@categorie.Nom</h5>
                    <a asp-page="/Categories/Details" asp-route-id="@categorie.Id" class="btn btn-success">Voir les services</a>
                </div>
            </div>
        </div>
    }
</div>