@page
@model GigsterTP1.Pages.Account.RegisterModel
@{
}
@{
    ViewData["Title"] = "Créer un compte";
}

<h1 class="text-center">Créer un compte</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <!-- Affichage des erreurs globales -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <!-- Nom d'utilisateur -->
            <div class="mb-3">
                <label asp-for="Input.UserName" class="form-label"></label>
                <input asp-for="Input.UserName" class="form-control" placeholder="Entrez votre nom d'utilisateur">
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Nom" class="form-label"></label>
                <input asp-for="Input.Nom" class="form-control" placeholder="Entrez votre nom d'utilisateur">
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Prenom" class="form-label"></label>
                <input asp-for="Input.Prenom" class="form-control" placeholder="Entrez votre prenom">
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Entrez votre nom">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" type="password" placeholder="Entrez votre mot de passe">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" placeholder="Confirmez votre mot de passe">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Adresse"></label>
                <input asp-for="Input.Adresse" class="form-control" />
                <span asp-validation-for="Input.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CodePostal"></label>
                <input asp-for="Input.CodePostal" class="form-control" />
                <span asp-validation-for="Input.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Avatar"></label>
                <input type="file" asp-for="Input.Avatar" class="form-control" />
                <span asp-validation-for="Input.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.OffreService"></label>
                <input asp-for="Input.OffreService" class="form-check-input" />
                <span asp-validation-for="Input.OffreService" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Créer mon compte</button>

            <a class="text-center mt-3">
                Déjà un compte ? <a asp-page="/Account/Login">Se connecter</a>
            </a>
        </form>
    </div>
</div>