@page
@model BlogApp.Areas.Admin.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-3 mb-3">Administrer les catégories</h1>

<p>
    <a asp-page="Create">Créer une catégorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categorie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
