html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #f0f1f3;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.btn-primary {
    background-color: #4B9CE9;
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.couleurtexteaccueil {
    color: #120FDC;
}

.text-purple {
    color: #4A148C;
}

.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.stars {
    display: inline-flex;
    gap: 2px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: translateY(5px);
        box-shadow: 10px 8px 20px;
    }

.form-control {
    border-radius: 8px;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
