@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="mb-3">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_ManageNav")
    </div>
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Choisir son nom d'utlisateur" />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nom" class="form-control" />
                <label asp-for="Input.Nom" class="form-label">Nom</label>
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Prenom" class="form-control" />
                <label asp-for="Input.Prenom" class="form-label">Prenom</label>
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" disabled />
                <label asp-for="Input.Email" class="form-label">Courriel</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Adresse" class="form-control" />
                <label asp-for="Input.Adresse" class="form-label">Adresse</label>
                <span asp-validation-for="Input.Adresse" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CodePostal" class="form-control" />
                <label asp-for="Input.CodePostal" class="form-label">Code Postal</label>
                <span asp-validation-for="Input.CodePostal" class="text-danger"></span>
            </div>
            <div>
                <img src="/uploads/avatars/photopourseed.jpg" class="avatar rounded-circle" />
            </div>
            <div class="mb-3">
                <label asp-for="Input.Avatar" class="form-label">Avatar</label>
                <input asp-for="Input.Avatar" class="form-control" type="file" />
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Description" class="form-control"> </textarea>
                <label asp-for="Input.Description" class="form-label">Description</label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="Input.OffrirService" class="form-check-input" type="checkbox" />
                <label asp-for="Input.OffrirService" class="form-check-label">Offrir des services?</label>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Modifier</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
